.swiper-container {
    padding: 1rem 0 1rem 0;
}

@media screen and (max-width: 500px) {
    .swiper-container
    .swiper-wrapper
    .swiper-slide {
        width: 120px !important;
    }
}

@media screen and (max-width: 319px) {
    .swiper-container 
    .swiper-wrapper
    .swiper-slide {
        width: 100px !important;
    }
}